/*Fold*/
#fold {
    z-index: 30000;
    right: 0;
    bottom: 0;
    position: absolute;
}

/*fallback*/
.fallback {
    display: none;
  }

.f-dropdown li {
    color: rgb(68,68,68) !important;
}

#master_container {
    width: 100%;
    height: 500px;
    font-family: 'Press Start 2P', monospace !important;
    overflow: hidden;
    border: 5px solid pink;    
}

.row h2, p {
    font-family: 'Press Start 2P', monospace !important;   
    color: #fff;
}

.row h3 {
    font-family: 'Press Start 2P', monospace !important;   
}

.row p {
    font-size: 14px;
    text-transform: uppercase;
}

#store h1, #idea h1 {
    font-family: 'Press Start 2P', monospace !important;   
    color: #fff;
    font-size: 40px;
    padding-bottom: 20px;   
}

#letsgo-upper {
    background-color: rgb(182,196,74);
    padding-top: 60px;
    padding-bottom: 40px;
    margin-top: -19%;
}

#letsgo-title h1 {
    font-family: 'Press Start 2P', monospace !important;   
    color: rgb(71,75,16);
    font-size: 60px;
    padding-bottom: 20px;      
}


#wagon-container,
#title-container,
#idea-container,
#store-container,
#letsgo-container
 {    
    position: relative;
    width: 100%;
    height: auto;
    z-index: 90;
}

#wagon-container {
    z-index: 1000000;
}

#store-container {
    /*overflow: hidden;*/
}

#letsgo-box {
    /*margin-top: 51%;*/
}

#letsgo-lower {
    padding-left: 0px;
    padding-right: 0px;
}


#idea-box, 
#title-box-cover, 
#title-box, 
#store-box,
#letsgo-box {
    background-color: rgb(58,47,16) !important;
    height: 500px;
    text-align: center;
    position: absolute;
}

#title-box {
    z-index: 1;
}

#title-box-cover {
    z-index: 2;
    height: 500px;
}

#idea-box {
    right: -100%;
}

#store-box {
    margin-top: 51%;
}


.bottom-spacer {
    margin-bottom: 10px;
}

.top-spacer {
    margin-top: 10px;
}

.top-spacer-2 {
    margin-top: 20px;
}

.top-spacer-3 {
    margin-top: 30px;
}

.top-spacer-4 {
    margin-top: 40px;
}

#updownup {
    width: 50px;
    height: 100px;
    position: absolute;
    top: 0;
    right: 5%;
    z-index: 10000000;
  }

#updowndown {
    width: 50px;
    height: 100px;
    position: absolute;
    top: 50px;
    right: 5%;
    z-index: 10000000;
  }

.arrow-down {
    width: 40px;
    height: 25px;
    background-image: url("../img/arrow-down.png");
    background-repeat: no-repeat;
    background-size: 40px 25px;
    margin: 0 auto;
}

.arrow-up {
    width: 40px;
    height: 25px;
    background-image: url("../img/arrow-up.png");
    background-repeat: no-repeat;
    background-size: 40px 25px;
    margin: 0 auto;
}    

.arrow-bg {
    width: 60px;
    height: 45px;
    background-color: #fff;
    padding-top: 10px;
    margin: 0 auto;
    margin-top: 10px;
    -webkit-box-shadow: 5px 5px 0px 0px #ddd;
    -moz-box-shadow: 5px 5px 0px 0px #ddd;
    box-shadow: 5px 5px 0px 0px #ddd;
    cursor: pointer;
}

.arrow-bg:hover, 
#updownup.active .arrow-bg,
#updowndown.active .arrow-bg {
    margin-left: 5px;
    margin-top: 15px;
    -webkit-box-shadow: 1px 1px 0px 0px #ddd;
    -moz-box-shadow: 1px 1px 0px 0px #ddd;
    box-shadow: 1px 1px 0px 0px #ddd;
}


#subidea p {
    margin-bottom: 15px;
}

#wagon {
    width: 10%;
    position: absolute;
    left: -30%;
    bottom: 5%;
    z-index: 100000000;
    top: 400px;
}

h1.title {
    font-family: serif;
    font-size: 4.2em;
    color: rgb(127,181,33);
    line-height: 1em;
    letter-spacing: -1px;
    font-family: 'Press Start 2P', monospace !important;
    /*font-family: 'VT323', monospace;*/
    text-transform: none;
}

.green-text {
    color: rgb(182,196,74);
}

.nbone {text-shadow: 
 1.5px 1.5px 0px rgb(77,110,17),
 3px 3px 0px rgb(77,110,17),
 4.5px 4.5px 0px rgb(77,110,17),
 6px 6px 0px rgb(77,110,17),
 7.5px 7.5px 0px rgb(77,110,17),
 9px 9px 0px rgb(77,110,17),
 10.5px 10.5px 0px rgb(77,110,17),
 12px 12px 0px rgb(77,110,17);}

.nbtwo {text-shadow: 
 0px 1.5px 0px rgb(77,110,17),
 1.5px 3px 0px rgb(77,110,17),
 3px 4.5px 0px rgb(77,110,17),
 4.5px 6px 0px rgb(77,110,17),
 6px 7.5px 0px rgb(77,110,17),
 7.5px 9px 0px rgb(77,110,17),
 9px 10.5px 0px rgb(77,110,17),
 10.5px 12px 0px rgb(77,110,17);}

.nbthree {text-shadow: 
 0px 1.5px 0px rgb(77,110,17),
 0px 3px 0px rgb(77,110,17),
 1.5px 4.5px 0px rgb(77,110,17),
 3px 6px 0px rgb(77,110,17),
 4.5px 7.5px 0px rgb(77,110,17),
 6px 9px 0px rgb(77,110,17),
 7.5px 10.5px 0px rgb(77,110,17),
 9px 12px 0px rgb(77,110,17);}

.nbfour {text-shadow: 
 0px 1.5px 0px rgb(77,110,17),
 0px 3px 0px rgb(77,110,17),
 0px 4.5px 0px rgb(77,110,17),
 1.5px 6px 0px rgb(77,110,17),
 3px 7.5px 0px rgb(77,110,17),
 4.5px 9px 0px rgb(77,110,17),
 6px 10.5px 0px rgb(77,110,17),
 7.5px 12px 0px rgb(77,110,17);}

.nbfive {text-shadow: 
 0px 1.5px 0px rgb(77,110,17),
 0px 3px 0px rgb(77,110,17),
 0px 4.5px 0px rgb(77,110,17),
 0px 6px 0px rgb(77,110,17),
 1.5px 7.5px 0px rgb(77,110,17),
 3px 9px 0px rgb(77,110,17),
 4.5px 10.5px 0px rgb(77,110,17),
 6px 12px 0px rgb(77,110,17);}

.nbsix {text-shadow: 
 0px 1.5px 0px rgb(77,110,17),
 0px 3px 0px rgb(77,110,17),
 0px 4.5px 0px rgb(77,110,17),
 0px 6px 0px rgb(77,110,17),
 0px 7.5px 0px rgb(77,110,17),
 1.5px 9px 0px rgb(77,110,17),
 3px 10.5px 0px rgb(77,110,17),
 4.5px 12px 0px rgb(77,110,17);}

.nbseven {text-shadow: 
 0px 1.5px 0px rgb(77,110,17),
 0px 3px 0px rgb(77,110,17),
 0px 4.5px 0px rgb(77,110,17),
 0px 6px 0px rgb(77,110,17),
 0px 7.5px 0px rgb(77,110,17),
 0px 9px 0px rgb(77,110,17),
 1.5px 10.5px 0px rgb(77,110,17),
 3px 12px 0px rgb(77,110,17);}
/* middle */
.nbeight {text-shadow: 
 0px 1.5px 0px rgb(77,110,17),
 0px 3px 0px rgb(77,110,17),
 0px 4.5px 0px rgb(77,110,17),
 0px 6px 0px rgb(77,110,17),
 0px 7.5px 0px rgb(77,110,17),
 0px 9px 0px rgb(77,110,17),
 0px 10.5px 0px rgb(77,110,17),
 0px 12px 0px rgb(77,110,17);}
/* end middle */
.nbnine {text-shadow: 
 0px 1.5px 0px rgb(77,110,17),
 0px 3px 0px rgb(77,110,17),
 0px 4.5px 0px rgb(77,110,17),
 0px 6px 0px rgb(77,110,17),
 0px 7.5px 0px rgb(77,110,17),
 0px 9px 0px rgb(77,110,17),
 0px 10.5px 0px rgb(77,110,17),
 -1.5px 12px 0px rgb(77,110,17);
}

.nbten {text-shadow: 
 0px 1.5px 0px rgb(77,110,17),
 0px 3px 0px rgb(77,110,17),
 0px 4.5px 0px rgb(77,110,17),
 0px 6px 0px rgb(77,110,17),
 0px 7.5px 0px rgb(77,110,17),
 0px 9px 0px rgb(77,110,17),
 -1.5px 10.5px 0px rgb(77,110,17),
 -3px 12px 0px rgb(77,110,17);}

.nbeleven {text-shadow: 
 0px 1.5px 0px rgb(77,110,17),
 0px 3px 0px rgb(77,110,17),
 0px 4.5px 0px rgb(77,110,17),
 0px 6px 0px rgb(77,110,17),
 -1.5px 7.5px 0px rgb(77,110,17),
 -3px 9px 0px rgb(77,110,17),
 -4.5px 10.5px 0px rgb(77,110,17),
 -6px 12px 0px rgb(77,110,17);}

.nbtwelve {text-shadow: 
 0px 1.5px 0px rgb(77,110,17),
 0px 3px 0px rgb(77,110,17),
 0px 4.5px 0px rgb(77,110,17),
 -1.5px 6px 0px rgb(77,110,17),
 -3px 7.5px 0px rgb(77,110,17),
 -4.5px 9px 0px rgb(77,110,17),
 -6px 10.5px 0px rgb(77,110,17),
 -7.5px 12px 0px rgb(77,110,17);}

.nbthirteen {text-shadow: 
 0px 1.5px 0px rgb(77,110,17),
 0px 3px 0px rgb(77,110,17),
 -1.5px 4.5px 0px rgb(77,110,17),
 -3px 6px 0px rgb(77,110,17),
 -4.5px 7.5px 0px rgb(77,110,17),
 -6px 9px 0px rgb(77,110,17),
 -7.5px 10.5px 0px rgb(77,110,17),
 -9px 12px 0px rgb(77,110,17);}

.nbfourteen {text-shadow: 
 0px 1.5px 0px rgb(77,110,17),
 -1.5px 3px 0px rgb(77,110,17),
 -3px 4.5px 0px rgb(77,110,17),
 -4.5px 6px 0px rgb(77,110,17),
 -6px 7.5px 0px rgb(77,110,17),
 -7.5px 9px 0px rgb(77,110,17),
 -9px 10.5px 0px rgb(77,110,17),
 -10.5px 12px 0px rgb(77,110,17);}

.nbfifteen {text-shadow: 
 -1.5px 1.5px 0px rgb(77,110,17),
 -3px 3px 0px rgb(77,110,17),
 -4.5px 4.5px 0px rgb(77,110,17),
 -6px 6px 0px rgb(77,110,17),
 -7.5px 7.5px 0px rgb(77,110,17),
 -9px 9px 0px rgb(77,110,17),
 -10.5px 10.5px 0px rgb(77,110,17),
 -12px 12px 0px rgb(77,110,17);}



@media only screen and (min-width: 40.063em) { 
        .bottom-spacer {
            margin-bottom: 20px;
        }

        .top-spacer {
            margin-top: 20px;
        }

        .top-spacer-2 {
            margin-top: 40px;
        }

        .top-spacer-3 {
            margin-top: 60px;
        }

        .padding-spacer-3 {
            padding-top: 60px;
        }

        .top-spacer-4 {
            margin-top: 100px;
        }
        #subidea p {
            margin-bottom: 25px;
        }


    } /* min-width 641px, medium screens */
@media only screen and (min-width: 64.063em) { 

    } /* min-width 1025px, large screens */


@media only screen and (max-width: 480px) { 

}


@media only screen and (max-width: 320px) { 

}
