<div class="row">
  <div id="idea-container">
    <div id="idea-box" class="columns large-12">
      <div id="idea" class="columns large-8 small-12 small-centered">          
        <div class="top-spacer-3"></div>
        <div class="">
          <h1 class="idea">
            idea!
          </h1>
        </div>        
        <div class="top-spacer" id="subidea">
          <p>You've come up with a great [energy solution] that will change the world.</p>
          <p>You've dreamed and planned. you are ready to get your idea into the world.</p>
          <p>Your journey to market will be long and full of peril, but you'll find help if you know where to look!</p>
          <p>Are you ready to get started?</p>
          <h2 class="hide-for-small-only">Press enter to continue</h2>
          <h2 class="show-for-small-only">Tap to continue</h2>
        </div>
        <div class="arrow-container top-spacer hide-for-small-only">
          <div class="arrow-down"></div>                    
        </div>          
      </div>        
    </div>
  </div>
</div>