<div class="row">
  <div id="letsgo-container">
    <div id="letsgo-box" class="large-12">
      <div id="letsgo-upper" class="columns large-12 small-12 small-centered">          
        <div class="large-8 small-12 small-centered">
          <div id="letsgo-title">
            <h1>
              Let's Go!
            </h1>
            <div class="top-spacer">
              <h2 class="hide-for-small-only">Press enter to hit the trail!</h2>
              <h2 class="show-for-small-only">Tap to continue</h2>
            </div>              
          </div>
        </div>                
      </div>    
      <div id="letsgo-lower" class="columns large-12 small-12 small-centered">
        {% include trail.html %}
      </div>    
    </div>
  </div>
</div>