<div class="row">
    <div id="store-container">
      <div id="store-box" class="columns large-12">
        <div id="store" class="columns large-8 small-12 small-centered">          
          <!-- <div class="top-spacer-3"></div> -->        
          <div class="top-spacer" id="substore">
            <div id="substore1">
              <div class="">
                <h1 class="store top-spacer-3">
                  Stock Up!
                </h1>
              </div>
              <div class="top-spacer-4"></div>
              <p>Your plans are ready and you're ready to hit the ground running.<p>

              <p>But Not so fast! First You need supplies from the general store!</p>

              <div class="top-spacer-4"></div>

              <h2 class="hide-for-small-only">Press enter to go to the general store!</h2>
              <h2 class="show-for-small-only">Tap to continue</h2>

              <div class="arrow-container top-spacer hide-for-small-only">
                <div class="arrow-down"></div>                    
              </div>       
            </div>            

            <div class="top-spacer-4"></div>

            <div id="substore2">
              <p>The <span class="green-text">Department of Energy National Labs</span> provide support to help you get started in your journey to open market.</p>
              
              <p>What kind of support will you need?</p>

              <div class="row small-up-3 medium-up-3 large-up-3">
                <div class="column column-block">
                  <img src="/img/munnybag.png" class="thumbnail" alt="">
                  <p>Starting<br>Capital</p>
                </div>
                <div class="column column-block">
                  <img src="/img/testube.png" class="thumbnail" alt="">
                  <p>Lab Space</p>
                </div>
                <div class="column column-block">
                  <!-- <img src="//placehold.it/600x600" class="thumbnail" alt=""> -->
                  <p>Loans</p>
                </div>
              </div>
              <div class="arrow-container top-spacer hide-for-small-only">
                <div class="arrow-down"></div>                    
              </div>       
            </div>            
          </div>
        </div>        
      </div>
    </div>
  </div>