<style>
  #d3-container {
    border: 1px black solid;
    width: 100%;
    height: 500px;
    background-color: rgb(97,98,24);
  }      

</style>

<div id="updownup">
	<div class="arrow-container hide-for-small-only">
    <div class="arrow-bg invs">      
    </div>    
  </div>         
  <div class="arrow-container hide-for-small-only">
    <div class="arrow-bg up">
    	<div class="arrow-up"></div>                    
    </div>    
  </div>         
</div>

<div id="updowndown">
	<div class="arrow-container hide-for-small-only lower">
		<div class="arrow-bg left-right">
	    <div class="arrow-left"></div>                    
	  </div>
  </div>       
  <div class="arrow-container hide-for-small-only lower">
    <div class="arrow-bg down">
      <div class="arrow-down"></div>                    
    </div>
  </div>       
  <div class="arrow-container hide-for-small-only lower">
    <div class="arrow-bg left-right">
      <div class="arrow-right"></div>                    
    </div>
  </div>       
  
</div>



<div id="d3-container">
	
</div>	